@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&family=Roboto:wght@900&display=swap");
.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(255, 255, 255);
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.images {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image {
  align-items: center;
  display: flex;
  height: 90px;
  width: fit-content;
}

.form-div {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 50px;
  font-family: "Public Sans", sans-serif;
}

.form-icon {
  position: absolute;
}

.form-input {
  width: 70%;
  margin-top: 20px;

  border-color: gray;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
}

.form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 8px;
  color: white;

  width: 260px;
  height: 46.23px;

  font-family: "Roboto", sans-serif;
  background: rgb(80, 160, 255);
  border-radius: 5px;
  border: none;
  font-size: 150%;
}
