@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&family=Roboto:wght@900&display=swap");

.formContainer {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: rgb(80, 160, 255);
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: black;
      font-size: 20px;
      font-family: "Public Sans", sans-serif;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid rgb(80, 160, 255);

        &::placeholder {
          color: rgb(110, 109, 109);
          font-family: "Public Sans", sans-serif;
        }
      }

      button {
        background-color: rgb(80, 160, 255);
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #8dbffd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    height: 90%;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
      border-right: 1px solid;
      background-color: white;

      .navbar {
        display: flex;
        background-color: #50a0ff;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        border-bottom: 1px black;

        .logo {
          height: 50%;
          width: 25%;
        }

        .user {
          display: flex;
          gap: 10px;

          .pfp {
            background-color: white;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #2078e4;
            color: white;
            font-size: 10px;
            border: none;
            cursor: pointer;
          }
        }
      }

      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          input {
            background-color: transparent;
            border: none;
            color: #50a0ff;
            outline: none;

            &::placeholder {
              color: black;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .chat {
      flex: 2;
    }
  }
}